html, body {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	color: white;
	background: black;
}

article {
	margin: auto;
	max-width: 70ch;
	padding: 1em;
}

a {
	color: #8AF;
}

a:visited {
	color: #A8F;
}

#controls {
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	grid-template-areas:
		"url upload faq"
		"txt txt settings";
}

#controls > * {
	padding: 0.6em;
}

#instructions {
	grid-column: txt;
}

#map {
	position: relative;
}

#map > * {
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
}
